body {
    background-color: grey;
    text-align: center;
}
#img {
    width: 400px;
    
}

#h1{
    background-color: white;
}

#p{
    background-color: white;
}

#vd {
    width: 500px;
    
}